<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Discord_WMP.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Discord_WMP.Settings1>
            <setting name="RPC_ID" serializeAs="String">
                <value />
            </setting>
            <setting name="show_progressbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_author" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_songname" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_album" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_albumart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="send_media_info" serializeAs="String">
                <value>True</value>
            </setting>
        </Discord_WMP.Settings1>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>